.feed_comment_box {
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}
.feed_comment_info {
  display: flex;
}
.feed_comment_profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.feed_comment_author {
  font-size: 15px;
  margin-left: 10px;
}
.feed_comment_created_at {
  font-size: 12px;
  line-height: 25px;
  margin-left: 15px;
}
.feed_comment_content {
  font-size: 15px;
  margin-top: 20px;
  margin-left: 60px;
}