/* Mypage.module.css */
/* 내 정보입력창*/
.myclass {
    margin: 0;
    width: 90%; /* 변경된 부분: 가로 크기를 50%로 설정 */ 
    float: left; /* 변경된 부분: 왼쪽 마진을 10px로 설정 */
    justify-content: center;
    align-items: center;
}
/*내 사진 설정*/
.mypoto {
    margin: 20px;
    width: 90%;
    float: left;
    display: flex; /* 부모인 .mypoto를 flex 컨테이너로 만듭니다. */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;
}
.innerbox{
    width: 150px;
    height: 120px;
    background-color: #ccc;
    border: 2px solid #a1a1a1;
    padding: 10px;
    justify-content: center; 
    align-items: center; 
    display: flex;
    border-radius: 10px;
    margin: 0;
}
.span{
  flex-direction : row;
  width:97%;
  margin-left: 9%;

}
  
.customTitle {
    font-size: 20px;
    margin-bottom: 10px;
}
.toggleListItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
  
.editContent {
    margin: 20px;
}
.toggle-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
      }
.switch-container {
    flex-shrink: 0;
    margin-left: 10px; /* 조절할 값 입력 */
  }  
.custom-switch {
    position: relative;
    margin-left: auto;
}
/*text 입력창 설정*/
.nickname{
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    width: 97%;
}
.setname {
    padding: 10px;
    margin: 5px;
    width: 97%;
    border: none;
    border-bottom: 1px solid #ccc; 
    background-color: transparent; 
    outline: none;
    height: 50px;
  }
  .about {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    width: 97%;
    height: 70px;
  }
  /* about의 placeholder 스타일 */
.about::placeholder {
  position: absolute;
  top:6px;
}
  .singleline {
    border-bottom: 1px solid #ccc; 
    width: 100%;
    margin: 10px 0;
  }
  .graytext {
    color: gray;
  }

  /*Toggle css*/
.custom-switch-container {
    display: flex;
    align-items: center;
  }
  
  .custom-switch {
    height: 24px;
    width: 48px;
    position: relative;
    cursor: pointer;
    background-color: #a1a1a1;
    border-radius: 15px;
    transition: background-color 0.3s;
  }
  
  .custom-switch:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s;
  }
  
  
  
  

  
