.container {
  margin-top: 120px;
}

.header {
    justify-content: center;
    align-items: center;
    height: 800px;
    display: block;
    margin: 0 auto;
    width: 1020px;
  }  
.button {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 30px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    position: relative;
    margin-bottom: 20px;
    transition: color 0.3s ease; /* 폰트 색상 변화에 대한 전환 효과 추가 */
  }

  
.button:hover {
    color: #f78f8f;
    transform: scale(1.1);
    /* background-color: #ebe9e9; */
    /* box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 2%;
  }
  
.button:focus {
  color: #f38f8f; /* 포커스되었을 때 색상 변경 */
  outline: none; /* 포커스 효과 제거 */
}

.button:hover::after {
    width: 90%;
}
  